<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="vendor/autoload.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="WooCom Add Multiple Products PHP unit tests">
			<directory suffix="Test.php">./tests/PHPUnit</directory>
		</testsuite>
	</testsuites>
</phpunit>
